body {

    background: linear-gradient(to right, rgba(37, 37, 37, 0.904) 3%, rgba(133, 136, 133, 0.877));
    z-index: 1;
    /* opacity: .4; */
}

.img img {
    position: absolute;
    top: 10%;
    left: 26%;
    width: 700px;
    height: auto;
    z-index: -1;
    opacity: .5;
}

form {
    width: 400px;
    height: 400px;
    background-color: rgba(128, 125, 125, 0.849);
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    top: 80px;
    left: 35%;
}
form:hover{
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.726) ,-5px -5px 10px rgba(255, 255, 255, 0.726);
}
form:active{
    background-color:rgba(128, 125, 125, 0.671) ;
    opacity: .9;
}

.form form label {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 2px;
}

.form form input {
    width: 220px;
    height: 25px;
    font-size: 20px;
    font-family: "Brush Script MT", cursive;

}

.form form textarea {
    width: 230px;
    height: 100px;
}

.form form select {
    width: 230px;
    height: 25px;
}

.form form input,
select,
textarea {
    position: relative;
    left: 1.4in;
    border-radius: 5px;
    border: 2px solid orange;
}
select{
    font-family: cursive;
    font-weight: 600;
    font-size: 15px;
}
.required::after {
    content: "*";
    color: red;
}

.form form button {
    background-color: orange;
    position: absolute;
    top: 370px;
    left: 240px;
    border-radius: 20px;
    border-style: none;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 530;
    color: white;
    word-spacing: 5px;
}

.form form button:hover {
    background-color: rgba(214, 139, 1, 0.973);
}